*{
    margin: 0;
}

.gradienteLineal{
    background-image: linear-gradient(to right, green, yellow);
    margin: 50px;
}

.gradienteRadial{
    background-image: radial-gradient(pink, green);
    margin: 50px;
    height: 100px;
}

.gradiente{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,110,1) 35%, rgba(0,183,255,1) 100%); 
    margin: 50px;
}

.btn{
    background: pink;
    width: 60px;
    height: 40px;
    padding: 15px;
    list-style: none;
    border-radius: 10px;
    
}

.btn:hover{
    /* transform: translate(10px, 20px); */
    /* transform: rotateZ(80deg); */
    /* transform: skew(20deg, 10deg); */
    width: 150px;
    height: 100px;
    background: greenyellow;
    transition: height 3s, width 2s, background 1s;
}

.input{
    margin: 10px;
    width: 100px;
    height: 50px;
    background: crimson;
    border: none;
    padding: 10px;
    color: #fff;
    
}

.input:focus{
    width: 150px;
    font-size: 20px;
    transition: all 2s;
    background: grey;
        
}

.animacion{
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    0%{
        opacity: 0;
        color: pink;
        background: gray;
    }
    50%{
        opacity: .5;
        color: red;
        background: green;
    }
    100%{
        opacity: 1;
        color: blue;
        background: black;
    }
}

